

    /* CSS BIBLIOTECA*/
    .body2{
        background-image: url(imagenoff.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100vh; background-attachment: fixed;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
        .clasebiblio{
        display: grid;    
        background-color: rgb(49, 43, 43);
        grid-template-columns: 1500px  auto;

        }
        
        .clasebiblio .pdfs{
           display: grid;
           grid-template-columns:  auto auto auto auto auto;
           grid-template-rows: 150px 150px 150px 150px;
           gap: 10px;
            margin-top: 3px;
            margin-left: 0;
            background-color: rgb(49, 43, 43);
            width: 1500px;
            height:1500px;
            border-style: solid;
            
        }
        
      .pdfs center{ 
        grid-column: span  5;
      }
      

      .pdfs img{
        display: flex;
        width: 90px;
        height: 50px;
        animation: libro 2000ms  1;
      }
@keyframes libro{

    0%{ margin-top: 0}
    50%{ margin-top: -100px;}

}

      .pdfs a{
        width: 130px;
        text-decoration: none;
        color: aliceblue;
        overflow: hidden;
      }
        .claseinicio{
            width: 390px;
            height: 100px;
            background-color: rgb(49, 43, 43);
            float: right;
            overflow: hidden;
            border-style: solid;
        }
        .claseinicio a{ float: right; width: 390px; height: 300px; font-size: 50px; text-decoration: none; background-color: rgb(56, 44, 44); text-align: center; color: black;}
        .claseavisos{
            margin-top: 3px;
            float: right;
            width: 390px;
            height: 1390px;
            background-color: rgb(49, 43, 43);
            border-style: solid;
            border-color: black;
        }
        article p{
            width: 380px;
            height: 150px;
            margin: 5px;
            font-size: 30px;
            background-color: rgb(56, 44, 44);
            color: aliceblue;
            text-align: center;
            font-family: Impact, Haettenschweiler;
            border-style: solid;
        }
        .notas p{
            width: 380px;
            height: 50px;
            margin: 5px;
            color: black;
            font-size: 10px;
            border-style: solid; border-color: black;
            background-color: rgb(56, 44, 44);
        }
        .notas p:hover{
            background-color: black;
            color: aliceblue;
            height: 300px;
            font-size: 30px;
            transition: all 300ms;
            cursor: pointer;
        }
        .otr{ color: aliceblue; font-size: 40px; font-family: Impact, Haettenschweiler; font-style: normal; font-weight: 2000; letter-spacing: 10px;}
        .otr{ animation: a 5s infinite; }
        @keyframes a{
            0%{ color: aliceblue}
            25%{ color:green;}
            50%{ color:black;}
            75%{ color:red;}
        }

        /* nuevo*/

        body{ 

            margin: 0;
        }

        .grid{
            display: grid;
            grid-template-columns: 350px  1500px;
            background: linear-gradient(to right,rgb(32, 24, 24),rgb(75, 71, 71));
            column-gap: 10px;
            row-gap: 20px;
            border-style: solid;


        }

        .multimedia{
            text-align: center;
            display: grid;
            grid-template-rows: repeat(10 1fr);
            background: linear-gradient(to right,rgb(32, 24, 24),rgb(75, 71, 71));
            gap: 20px;
            border-style: solid;
            border-color: black;
            color: aliceblue;
        }
        .multimedia button{
            font-size: 20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            background-color: black;   
        }
        .multimedia button a{ color: aliceblue;  text-decoration: none;  }

        .paginas{
            display: grid;
            grid-template-columns: 200px 200px  200px  200px  200px  ;
            grid-template-rows: auto auto ;
            background: linear-gradient(to right,rgb(32, 24, 24),rgb(75, 71, 71));
            margin-left:10px;
            column-gap: 100px;
            row-gap: 30px;
            border-style: solid;
        }

        .paginas .box{ margin-top: 20px; border-style: solid; height: 270px; margin-left: 30px; background-color: black;}
        .paginas .box a{   text-decoration: none; color: aliceblue;}
      
       .box img:hover{ flex: 10%; width: 280px; transition: all 600ms;}

        
        .tiras{
            display: grid;
            grid-column: 1 / span 9;
            grid-template-rows: auto auto auto;
            border-style: solid;
            
        }
     
        .tiras font  marquee{ align-content: center; font-size:30px; color: black;  grid-column: span 9;}

        .base{ border-left: 5px solid; margin-left: 20px; margin-top: 30px; width: 830px; height: 150px; background-color: transparent; font-size: 20px; overflow: hidden; position: sticky; top: 60px;}
        .p1{ color: aliceblue; width: 300px; height: 20px; background-color: rgb(63, 5, 5); margin:5px; border-right: 8px black solid;}
        .p2{ color: aliceblue; width: 300px; height: 20px; background-color: rgb(63, 5, 5); margin: 5px; border-right: 8px black solid;}
        .p1{ animation: p1  6s infinite; }
        .p2{  animation: p2 6s infinite;}
        @keyframes p1{ 
            0%{ margin-left: 0;}
            50%{ margin-left: -800px; background-color: red; color: black;}
            100%{ margin-left: 0; background-color: red; color: black;}


        }
       @keyframes p2{
        0%{ margin-left: -800px; color: black}
            50%{ margin-left: 0; background-color: red; color: white;}
            100%{ margin-left: -800px; color:black }


        }
        
        .titulo{ font-size: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif; animation: apagado 6s infinite;  }

        @keyframes apagado{

            0%{ color: aliceblue;}
            50%{ color: gray;}
            75%{ color: black; }
        }


        /*responsive*/

        @media screen and ( max-width: 768px){

            .grid{
                display: grid;
                grid-template-columns: 500px;
            }
            .paginas{  
                display:grid;
                grid-template-columns: 400px;
                row-gap: 15px;

            }
            .multimedia{
            display: grid;
            grid-template-rows: repeat(5 20px);
            row-gap: 5px;

            }
            .multimedia button{
                height: 50px;

            }
            .tiras{
                grid-template-columns: auto;
            }
            
        }
        /*RESPONSIVE BIBLIOTECA*/

        @media screen and ( max-width: 768px){
            .clasebiblio{
                display: grid;  
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                margin-right:  0;
                background-color: rgb(49, 43, 43);
               
        
                }
             
                .clasebiblio .pdfs{
                    display: grid;
                   
                    grid-template-rows: 100px 100px 100px 100px 100px;
                    column-gap: 2px;
                    margin-top: 3px;
                    margin-left: 0;
                    background-color: rgb(49, 43, 43);
                    width: 800px;
                    height:1000px;
                    border-style: solid;
                    
        }
        .clasebiblio img{
            display: grid;
          
            grid-template-columns: 100px 100px;
            width: 100px;
            margin: 5px;
        }
     
      
        .claseinicio{
            width: 800px;
            height: 100px;
            background-color: rgb(49, 43, 43);
            float: left;
        }
        .claseavisos{
            margin-top: 3px;
            float: left;
            width: 800px;
            height: 500px;
            background-color: rgb(49, 43, 43);
            border-style: solid;
            border-color: black;
        }

        article p{
            width: 800px;
            height: 150px;
            margin: 5px;
            font-size: 30px;
            background-color: rgb(56, 44, 44);
            color: aliceblue;
            text-align: center;
            font-family: Impact, Haettenschweiler;
            border-style: solid;
        }
        .notas p{
            width: 800px;
            height: 50px;
            margin: 5px;
            color: black;
            font-size: 10px;
            border-style: solid; border-color: black;
            background-color: rgb(56, 44, 44);
        }
        .pdfs a{
           
            width: 150px;
            text-decoration: none;
            color: aliceblue;
            overflow: hidden;
          }
    
    }
